app = "construct-server"
primary_region = "nrt"  # Tokyo!

[build]
  dockerfile = "Dockerfile"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 443
    handlers = ["tls"]

[env]
  DATABASE_URL = "from secrets"
