app = 'construct-messenger'
primary_region = 'nrt'

[build]
  dockerfile = "Dockerfile"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    port = 443
    handlers = ["tls"]


[[vm]]
  memory = '512mb'
  cpus = 2
